<p-menubar [model]="items">
  <!-- Template per il logo/brand (sinistra) -->
  <ng-template pTemplate="start">
    <a routerLink="/" class="navbar-brand">
      <!-- Inserisci un logo o testo come marchio -->
      SkillHub
    </a>
  </ng-template>

  <!-- Template per il pulsante Logout/Login (destra) -->
  <ng-template pTemplate="end">
    <ul class="navbar-nav" style="margin: 0">
      <ng-template #loginLink>
        <li class="nav-item">
          <button
            pButton
            label="Login"
            routerLink="/login"
            class="p-button-text"
          ></button>
        </li>
      </ng-template>
    </ul>
  </ng-template>
</p-menubar>
