<div
  class="hero bg-light text-center text-white py-5 d-flex align-items-center"
  style="
    background-image: url('http://localhost:7117/images/Home/hero/hero-image.webp');
    height: 600px;
    background-size: cover;
    background-position: center;
  "
>
  <div class="container bg-opacity-10 bg-black pb-3">
    <h1 class="display-4">Benvenuto su SkillHub</h1>
    <p class="lead">
      Trova il freelance perfetto per il tuo prossimo progetto.
    </p>

    <a
      [routerLink]="isAuthenticated ? '/services' : '/register'"
      class="btn btn-primary btn-lg mt-4"
    >
      {{ isAuthenticated ? "Scopri i servizi" : "Inizia ora" }}
    </a>
  </div>
</div>

<div class="container">
  <h2 class="text-center mt-5">I nostri servizi</h2>
  <p class="text-center">
    Scopri alcuni dei servizi offerti dai nostri freelancer
  </p>
</div>

<div class="carousel-container">
  <p-carousel
    [value]="services"
    [numVisible]="3"
    [numScroll]="3"
    [showIndicators]="false"
    [responsiveOptions]="responsiveOptions"
  >
    <ng-template pTemplate="item" let-service>
      <a
        [routerLink]="['/services', service.serviceID]"
        style="text-decoration: none; color: inherit"
      >
        <div class="service-card mt-3 mx-2">
          <div class="card-img">
            <img
              [src]="'http://localhost:7117' + service.imagePath"
              alt="Immagine Servizio"
              class="img-fluid service-image"
              style="width: 100%; height: 200px; object-fit: cover"
            />
          </div>
          <h5 class="mt-3">{{ service.title }}</h5>
          <p>
            Categoria: {{ service.categoryName }}
            <i class="pi pi-angle-right custom-icon"></i>
            {{ service.subCategoryName }}
          </p>
          <p>Freelancer: {{ service.userName }}</p>
          <p>Prezzo: €{{ service.price }}</p>
        </div>
      </a>
    </ng-template>
  </p-carousel>
</div>
