// src/styles/variables.scss

$primary-color: #E67E22; // Arancione
$secondary-color: #F1C40F; // Giallo Chiaro
$accent-color: #2980B9; // Blu Scuro
$background-color: #FAFAFA; // Bianco Panna
$text-color: #2C3E50; // Grigio Scuro
$danger-color: #E74C3C; // Rosso


$border-radius: 4px;
$padding: 1rem;
$margin: 1rem;
$font-size: 16px;
