<div class="orders-container">
  <h2 *ngIf="userRole === 'User'">I tuoi ordini</h2>
  <h2 *ngIf="userRole === 'Freelancer'">Ordini ricevuti</h2>

  <table class="table table-striped">
    <thead>
      <tr>
        <th>Servizio</th>
        <th>Cliente</th>
        <th>Freelancer</th>
        <th>Data</th>
        <th>Stato</th>
        <th>Prezzo Totale</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let order of orders">
        <td>{{ order.serviceTitle }}</td>
        <td>{{ order.clientUsername }}</td>
        <td>{{ order.freelancerUsername }}</td>
        <td>{{ order.orderDate | date }}</td>
        <td>{{ order.status }}</td>
        <td>{{ order.totalPrice | currency }}</td>
      </tr>
    </tbody>
  </table>
</div>
