@import '../../../../variables.scss';

/* Chat Icon Circle */
.chat-trigger {
  position: fixed;
  bottom: 20px;
  right: 20px;
  width: 60px;
  height: 60px;
  background-color: $primary-color;
  color: white;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  font-size: 24px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  z-index: 1001;
  transition: background-color 0.3s ease, transform 0.3s ease;
}

.chat-trigger:hover {
  background-color: darken($primary-color, 10%);
  transform: scale(1.1);
}

/* Chat Window */
.chat-window {
  position: fixed;
  bottom: 90px;
  right: 20px;
  width: 320px;
  max-height: 500px;
  background-color: $background-color;
  border-radius: 10px;
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
  z-index: 1000;
  display: flex;
  flex-direction: column;
  overflow: hidden;
  transition: opacity 0.3s ease, transform 0.3s ease;
}

.chat-window-header {
  background-color: $primary-color;
  color: white;
  padding: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 16px;
  border-bottom: 1px solid lighten($accent-color, 30%);
}

.chat-window-header h5 {
  margin: 0;
}

.chat-window-header button {
  background: none;
  border: none;
  color: white;
  font-size: 18px;
  cursor: pointer;
}

.chat-window-header button:hover {
  color: $secondary-color;
}

/* Corpo della finestra di chat che contiene la chat*/
.chat-window-body {
  padding: 10px;
  flex-grow: 1;
  overflow-y: auto;
  background-color: $background-color;
}

.chat-window-body::-webkit-scrollbar {
  width: 8px;
}

.chat-window-body::-webkit-scrollbar-thumb {
  background-color: $accent-color;
  border-radius: 4px;
}

.chat-window-body::-webkit-scrollbar-track {
  background-color: lighten($background-color, 10%);
}

/* Animazioni */
.chat-window.open {
  transform: translateY(0);
  opacity: 1;
}

.chat-window.closed {
  transform: translateY(100%);
  opacity: 0;
}

/* Responsive per schermi più piccoli */
@media (max-width: 768px) {
  .chat-window {
    width: 90%;
    right: 5%;
    bottom: 60px;
  }
}
