<div
  class="container d-flex justify-content-center align-items-center vh-100 bg-white"
>
  <div class="card p-4 shadow-sm" style="width: 500px">
    <h2 class="text-center mb-4">Login</h2>

    <!-- Messaggio di errore -->
    <div *ngIf="error" class="alert alert-danger">{{ error }}</div>

    <!-- Campo email -->
    <div class="mb-3">
      <label for="username" class="form-label">Email</label>
      <input
        [(ngModel)]="email"
        id="username"
        type="text"
        class="form-control"
        placeholder="Inserisci la tua email"
      />
    </div>

    <!-- Campo password -->
    <div class="mb-3">
      <label for="password" class="form-label">Password</label>
      <input
        [(ngModel)]="password"
        id="password"
        type="password"
        class="form-control"
        placeholder="Inserisci la tua password"
      />
    </div>

    <!-- Bottone Login -->
    <button (click)="login()" class="btn btn-primary w-100 mb-3">Login</button>

    <!-- Bottone per registrazione -->
    <button routerLink="/register" class="btn btn-outline-secondary w-100">
      Non hai un account? Registrati
    </button>
  </div>
</div>
