<div class="chat-container">
  <div
    *ngFor="let message of messages"
    [ngClass]="{
      'sent-message': message.senderId === currentUserId,
      'received-message': message.senderId !== currentUserId
    }"
  >
    <div class="message-content">
      <strong
        >{{
          message.senderId === currentUserId ? "Tu" : selectedUser?.username
        }}:</strong
      >
      <span>{{ message.content }}</span>
    </div>
  </div>
</div>

<!-- Input per nuovo messaggio -->
<div class="message-input">
  <input
    type="text"
    [(ngModel)]="newMessage"
    placeholder="Scrivi un messaggio..."
  />
  <button (click)="sendMessage()">Invia</button>
</div>
