<div class="profile-form">
  <h2>Modifica il tuo profilo</h2>

  <!-- Form per caricare l'immagine del profilo -->
  <div class="profile-picture-upload text-center">
    <!-- Anteprima dell'immagine caricata -->
    <div *ngIf="user?.profilePicture">
      <h4>Immagine Profilo Attuale:</h4>
      <img
        [src]="
          getProfilePictureUrl() ||
          'http://localhost:7117/images/profiles/default-profile-picture.jpg'
        "
        alt="Profile Picture"
        class="profile-image rounded-5 w-50"
      />
    </div>

    <h3>Carica Immagine Profilo</h3>
    <form (ngSubmit)="uploadProfileImage()">
      <div class="p-field">
        <p-fileUpload
          name="profileImage"
          accept="image/*"
          mode="basic"
          chooseLabel="Scegli Immagine"
          auto="false"
          (onSelect)="onFileSelected($event)"
          [customUpload]="true"
        ></p-fileUpload>
      </div>
      <button
        pButton
        type="submit"
        label="Carica Immagine"
        class="p-button-primary"
        [disabled]="!selectedFile"
      ></button>
    </form>
  </div>

  <form (ngSubmit)="updateProfile()">
    <!-- Campo nascosto per l'ID utente -->
    <input type="hidden" [(ngModel)]="user.userID" name="id" />

    <div class="p-field">
      <label for="username">Nome utente</label>
      <input
        pInputText
        type="text"
        id="username"
        [(ngModel)]="user.username"
        name="username"
        required
      />
    </div>

    <div class="p-field">
      <label for="bio">Biografia</label>
      <textarea
        pInputTextarea
        id="bio"
        [(ngModel)]="user.bio"
        name="bio"
        rows="4"
      ></textarea>
    </div>
    <button
      pButton
      type="submit"
      label="Aggiorna profilo"
      class="p-button-primary"
    ></button>
  </form>
</div>

<div class="password-form">
  <h2>Cambia la password</h2>

  <form (ngSubmit)="updateUserPassword()">
    <div class="p-field">
      <label for="oldPassword">Vecchia password</label>
      <input
        pPassword
        id="oldPassword"
        [(ngModel)]="oldPassword"
        name="oldPassword"
        required
        feedback="false"
      />
    </div>

    <div class="p-field">
      <label for="newPassword">Nuova password</label>
      <input
        pPassword
        id="newPassword"
        [(ngModel)]="newPassword"
        name="newPassword"
        required
      />
    </div>

    <div class="p-field">
      <label for="confirmPassword">Conferma nuova password</label>
      <input
        pPassword
        id="confirmPassword"
        [(ngModel)]="confirmPassword"
        name="confirmPassword"
        required
      />
    </div>

    <button
      pButton
      type="submit"
      label="Aggiorna password"
      class="p-button-warning"
    ></button>
  </form>
</div>
