<div class="dashboard">
  <header class="header">
    <div class="logo">
      <h1>SkillHub Dashboard</h1>
    </div>
    <div class="user-info" *ngIf="currentUser">
      <span class="fs-2">Benvenuto, {{ currentUser.username }}</span>
    </div>
  </header>

  <!-- Layout con sidebar e content -->
  <div class="dashboard-container">
    <!-- Menu laterale -->
    <aside class="sidebar ps-5">
      <ul>
        <li>
          <a routerLink="/dashboard/orders" routerLinkActive="active">Ordini</a>
        </li>
        <li>
          <a routerLink="/dashboard/profile" routerLinkActive="active"
            >Anagrafica</a
          >
        </li>
        <li *ngIf="isFreelancer">
          <a routerLink="/dashboard/services" routerLinkActive="active"
            >Servizi</a
          >
        </li>
        <li *ngIf="isFreelancer">
          <a routerLink="/dashboard/charts" routerLinkActive="active"
            >Grafici</a
          >
        </li>
      </ul>
    </aside>

    <!-- Contenuto dinamico -->
    <main class="content">
      <router-outlet></router-outlet>
    </main>
  </div>
</div>
