/* Importa le variabili */
@import '../../../../variables.scss';

/* Dashboard Layout */
.dashboard {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.header {
  background-color: $primary-color;  // Sostituito #343a40 con $accent-color (Blu Scuro)
  color: $background-color;         // Sostituito 'white' con $background-color (Bianco Panna)
  padding: 1rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.dashboard-container {
  display: flex;
  flex-grow: 1;
}

.sidebar {
  width: 200px;
  background-color: $background-color;  // Sostituito #f8f9fa con $background-color (Bianco Panna)
  padding: 1rem;
}

.sidebar ul {
  list-style: none;
  padding: 0;
}

.sidebar ul li {
  margin-bottom: 10px;
}

.sidebar ul li a {
  text-decoration: none;
  color: $text-color;       // Sostituito #343a40 con $text-color (Grigio Scuro)
  display: block;
}

.sidebar ul li a.active {
  color: $primary-color;    // Sostituito #007bff con $primary-color (Arancione)
  font-weight: bold;
}

.content {
  padding: 1rem;
  flex-grow: 1;
  background-color: $background-color;  // Sostituito #f1f1f1 con $background-color (Bianco Panna)
}
